* {
    font-family: 'Roboto', sans-serif;
}

body {
    background-color: #f9f9f9;
}

.header {
    display: flex;
    align-items: center;
    height: 40px;
    background-color: #4c3e5f;
    color: #f9f9f9;
    letter-spacing: 2px;
    text-transform: uppercase;
}
.header img {
    height: 25px;
    margin: 0 20px;
}
#menu-icon {
    cursor: pointer;
}
.container {
    display: flex;
    height: calc(100vh - 40px);
    background-color: #f9f9f9;
    overflow: hidden;
}
.aside {
    display: flex;
    height: 100%;
    width: 300px;
    background-color: #fff;
    box-shadow: 2px 0 10px 2px rgba(200,200,200,0.1);

}
.content {
    min-height: calc(100vh - 40px);
    max-width: 1350px;
    margin: 0 auto;
    display: inline-flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    vertical-align: top;
    flex: 1;
    overflow: auto;
    scroll-behavior: smooth;
}
.key-feature {
    text-align: center;
}
.key-feature .image-container {
    height: 70px;
    margin: 30px 0;
}
.key-feature .image-container img {
    height: 100%;
}
.key-feature h6, .actions h6 {
    margin-bottom: 30px;
    font-size: 22px;
    font-weight: bold;
    letter-spacing: 1px;
}
.key-feature p {
    margin: 0 20px;
    color: #aaa;
    font-size: 14px;
    line-height: 1.5em;
}
.calendar {
    display: flex;
    align-items: center;
    justify-content: center;
}
.day {
    margin-right: 15px;
    font-size: 100px;
}
.month, .year {
    font-size: 28px;
    line-height: 52px;
}
.list {
    width: 100%;
    margin-top: 30px;
}
.list li a {
    display: flex;
    align-items: center;
    padding: 10px 30px;
    line-height: 50px;
    text-decoration: none;
    color: inherit;
}
.list li:hover {
    background-color: #f9f9f9;
}
.list li img {
    height: 30px;
    margin-right: 30px;
}
.toggle {
    display: none;
}

.tile {
    margin: 20px;
    padding: 20px;
    height: 350px;
    width: 360px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 2px 2px 10px 2px rgba(200,200,200,0.4);
    box-sizing: border-box;
    overflow: auto;
}
.tile:hover {
    box-shadow: 3px 3px 15px 5px rgba(200,200,200,0.3);
}

.actions {
    padding: 50px 30px;
}

.actions ul {
    margin: 30px 0;
    min-width: 300px;
}
.actions ul li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 12px 0;
}
.action-container {
    display: inline-block;
}
.actions .action-title {
    font-size: 14px;
    line-height: 1.5em;
}
.actions .circle {
    display: inline-block;
    height: 30px;
    width: 30px;
    font-size: 12px;
    line-height: 30px;
    text-align: center;
    border-radius: 50%;
    margin-right: 15px;
    background-color: #4c3e5f;
    color: #f9f9f9;
}
.actions li button {
    padding: 8px 17px;
    font-size: 12px;
    letter-spacing: 1px;
    text-transform: uppercase;
    background-color: #4c3e5f;
    color: #f9f9f9;
    border-radius: 20px;
}
.actions li button:hover {
    opacity: 0.8;
    cursor: pointer;
}
@media all and (max-width: 700px){
    .mobile-default-hidden {
        display: none;
    }
    .toggle {
        position: absolute;
        display: flex;
        width: 100%;
    }
}

/*advanced*/
*::-webkit-scrollbar-track
{
    border-radius: 10px;
    background-color: transparent;
}

*::-webkit-scrollbar
{
    width: 6px;
    height: 6px;
}

*::-webkit-scrollbar-thumb
{
    border-radius: 10px;
    background-color: #cacaca;
}
